<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>Detalle</title>
</head>
<body>
  <%- include('partials/header.ejs')  %> 
  <h1>Detalles de Producto</h1>
  <hr>
  
  <div class="parf5">
  <h2><%= producto.name %> - <%= producto.brand %> </h2> 
  <p>$ <%= producto.price %> </p>
  <img class="rectangulovertical" src="/img/<%= producto.images %> " alt="">
  <p><%= producto.description %></p> 
  </div>
  <%- include('partials/footer.ejs')  %> 
  
</body>
</html>