<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Listado</title>
</head>
<body>

    
    <!-- Header -->

    <%- include('partials/header.ejs')  %> 

    <!-- Header -->

      <!-- Body -->


      <h1>Listado de Productos</h1>

      <ul>
        <% productos.forEach(producto => { %>
            <div class="rectangulo"><li><h2><%= producto.name %></h2> - $<%= producto.price %> - <%= producto.description %>   </li></div>
         
        <% }) %>
      </ul>





      <!-- Body -->



      <!-- Footer -->


      
      <%- include('partials/footer.ejs')  %> 


      <!-- Footer -->




</body>
</html>